<html>
    <style>
        body {
            font-family: monospace;
            background-color: black;
            color: #18e849;
        }
        a:visited {
            color: #4918e8;
        }
        a {
            color: #18e849;
        }
        div {
            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 3;
        }
    </style>
    <body>
        Index of {{ range .Dirs }}<a href="{{ .Full }}">{{ .Segment }}</a>{{ end }} [{{ len .Files }} files] <br/>
        <br/>
        <table>
            <thead>
                <td> Name </td>
                <td> Last Modified </td>
                <td> Type </td>
                <td> Size </td>
            </thead>
            <tbody>
                {{ range .Files }}
                    <tr>
                        <td> <a href="{{.Path}}">{{ .Name }}</a> </td>
                        <td> {{ .LastModified }} </td>
                        <td> {{ .Type }} </td>
                        <td> {{ .Size }} </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
        <br/>
        Powered by  {{ if .BrandURL }}<a href="{{.BrandURL}}">{{end}}{{.Brand}} {{ if .BrandURL }}</a>{{end}}
    </body>
</html>